@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Amsterdam&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Barlow Condensed", sans-serif; */
/* font-family: "New Amsterdam", sans-serif; */
/* font-family: "Roboto", sans-serif; */

.feature{
    width: 98.5%;
    border-top-right-radius: 1%;
    border-top-left-radius: 1%;
    height: 20rem;
    background-color: #F7F9FA;
    margin: auto ;
}

.featureHead{
    font-family: "Barlow Condensed", sans-serif;
    position: relative;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    color: rgb(43, 42, 42);
}

.unorder{
    padding-top: 2rem;
}

.unorder h2{
    font-family: "New Amsterdam", sans-serif;
    font-size: 1.4rem;
    text-decoration: underline;
    cursor: pointer;
}

.unorder li{
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}
